{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}


    <div class="container">
        <h2>Gráfico de importação PID</h2>
        <canvas id="myChart" width="400" height="200"></canvas>
    </div>
    
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar', // Tipo de gráfico (bar, line, pie, etc.)
            data: {
                labels: JSON.parse('{{ labels | safe }}'), // Dados do eixo X
                datasets: [{
                    label: 'número de arquivos',
                    data: JSON.parse('{{ data | safe }}'), // Dados do eixo Y
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

{% endblock %}